<h1 class="mt-3">Cálculo de interés compuesto</h1>

<form action="/interes" method="post">
  <div class="form-group">
    <label for="monto">Monto total del préstamo</label>
    <input type="text" name="monto" id="monto" class="form-control">
  </div>
  <div class="form-group">
    <label for="periodo">Cantidad en Años</label>
    <input type="text" name="periodo" id="periodo" class="form-control">
  </div>
  <div class="form-group">
    <label for="interes">Tasa de interés</label>
    <input type="text" name="interes" id="interes" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
</form>